body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(196,148,233,1) 100%);
font-family: sans-serif;
color: white;
}

main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

.primersection{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.segundosection{
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
    padding: 0 20px;
}

.boton{
    background-color: #F79BD3;
    border: 10px;
    margin: 50px;
    padding: 30px;
    font-size: 40px;
    width: 300px;
}
